
@import "../../library/sass-css3-mixins/css3-mixins.scss";

.animal-box {
  
    margin: 0 auto;
    width: 300px;
    height: 300px;
  
    div {
        position: absolute;
    }
    
    > img {
        margin: 0px auto;
        opacity: 0.1;
    }
  
}