.animal-box {
  margin: 0 auto;
  width: 300px;
  height: 300px; }
  .animal-box div {
    position: absolute; }
  .animal-box > img {
    margin: 0px auto;
    opacity: 0.1; }

.animal-box {
  background-color: #A5D7F6; }

@-webkit-keyframes moveeye {
  0% {
    left: -1px; }

  5% {
    left: -2px; }

  10% {
    left: -1px; }

  15% {
    left: 0px; }

  20% {
    left: -1px; }

  100% {
    left: -1px; } }
@-moz-keyframes moveeye {
  0% {
    left: -1px; }

  5% {
    left: -2px; }

  10% {
    left: -1px; }

  15% {
    left: 0px; }

  20% {
    left: -1px; }

  100% {
    left: -1px; } }
@-ms-keyframes moveeye {
  0% {
    left: -1px; }

  5% {
    left: -2px; }

  10% {
    left: -1px; }

  15% {
    left: 0px; }

  20% {
    left: -1px; }

  100% {
    left: -1px; } }
@keyframes moveeye {
  0% {
    left: -1px; }

  5% {
    left: -2px; }

  10% {
    left: -1px; }

  15% {
    left: 0px; }

  20% {
    left: -1px; }

  100% {
    left: -1px; } }
#rabbit .border {
  border-color: black;
  border-style: solid;
  background: none; }
#rabbit div {
  background-color: white; }
#rabbit .head {
  left: 60px;
  top: 50px; }
  #rabbit .head .head-1-in {
    -moz-border-radius: 23px 24px 0 0;
    -webkit-border-radius: 23px 24px 0 0;
    border-radius: 23px 24px 0 0;
    height: 23px;
    left: 55px;
    top: 71px;
    width: 67px; }
  #rabbit .head .head-2-in {
    -moz-border-radius: 52px 52px 2px 1px;
    -webkit-border-radius: 52px 52px 2px 1px;
    border-radius: 52px 52px 2px 1px;
    height: 40px;
    left: 30px;
    top: 71px;
    -webkit-transform: rotateX(38deg);
    -moz-transform: rotateX(38deg);
    transform: rotateX(38deg);
    width: 115px; }
  #rabbit .head .head-3-in {
    -moz-border-radius: 0 0 44px 40px;
    -webkit-border-radius: 0 0 44px 40px;
    border-radius: 0 0 44px 40px;
    height: 45px;
    left: 43px;
    top: 104px;
    width: 102px; }
  #rabbit .head .head-4-in {
    -moz-border-radius: 0 0 29px 17px;
    -webkit-border-radius: 0 0 29px 17px;
    border-radius: 0 0 29px 17px;
    height: 45px;
    left: 31px;
    top: 93px;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    width: 60px; }
  #rabbit .head .head-5-in {
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    height: 30px;
    left: 32px;
    top: 97px;
    width: 30px; }
  #rabbit .head .head-6-in {
    -moz-border-radius: 17px 17px 25px 17px;
    -webkit-border-radius: 17px 17px 25px 17px;
    border-radius: 17px 17px 25px 17px;
    height: 30px;
    left: 94px;
    top: 117px;
    width: 33px; }
  #rabbit .head .head-7-in {
    -moz-border-radius: 17px 17px 26px 35px;
    -webkit-border-radius: 17px 17px 26px 35px;
    border-radius: 17px 17px 26px 35px;
    height: 30px;
    left: 60px;
    top: 118px;
    width: 62px; }
  #rabbit .head .head-1-out {
    width: 56px;
    height: 62px;
    border-width: 3px 0 0 2.5px;
    -moz-border-radius: 56px 0 0 0;
    -webkit-border-radius: 56px 0 0 0;
    border-radius: 56px 0 0 0;
    left: 29px;
    top: 60px;
    -webkit-transform: rotateX(48deg);
    -moz-transform: rotateX(48deg);
    transform: rotateX(48deg); }
  #rabbit .head .head-2-out {
    -moz-border-radius: 0 58px 0 0;
    -webkit-border-radius: 0 58px 0 0;
    border-radius: 0 58px 0 0;
    border-width: 3px 2.5px 0 0;
    height: 70px;
    left: 81px;
    top: 56.5px;
    -webkit-transform: rotateX(53deg);
    -moz-transform: rotateX(53deg);
    transform: rotateX(53deg);
    width: 65px; }
  #rabbit .head .head-3-out {
    -moz-border-radius: 0 0 0 15px;
    -webkit-border-radius: 0 0 0 15px;
    border-radius: 0 0 0 15px;
    border-width: 0 0 3px 2.5px;
    height: 12px;
    left: 27px;
    top: 110px;
    -webkit-transform: rotateX(23deg) rotateZ(12deg) rotateY(-322deg);
    -moz-transform: rotateX(23deg) rotateZ(12deg) rotateY(-322deg);
    transform: rotateX(23deg) rotateZ(12deg) rotateY(-322deg);
    width: 12px; }
  #rabbit .head .head-4-out {
    -moz-border-radius: 15px 15px 22px 15px;
    -webkit-border-radius: 15px 15px 22px 15px;
    border-radius: 15px 15px 22px 15px;
    border-width: 0 3px 3px;
    height: 37px;
    left: 29px;
    top: 110px;
    -webkit-transform: rotateZ(36deg) rotateX(56deg);
    -moz-transform: rotateZ(36deg) rotateX(56deg);
    transform: rotateZ(36deg) rotateX(56deg);
    width: 56px; }
  #rabbit .head .head-5-out {
    -moz-border-radius: 0px 0px 51px 0px;
    -webkit-border-radius: 0px 0px 51px 0px;
    border-radius: 0px 0px 51px 0px;
    border-width: 0 3px 3px 0px;
    height: 39px;
    left: 106px;
    top: 111px;
    width: 41px;
    -webkit-transform: rotateY(-36deg) rotateX(15deg);
    -moz-transform: rotateY(-36deg) rotateX(15deg);
    transform: rotateY(-36deg) rotateX(15deg); }
  #rabbit .head .head-6-out {
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    border-width: 0 3px 6px;
    height: 49px;
    left: 65px;
    width: 55px;
    top: 113px;
    -webkit-transform: rotateX(58deg);
    -moz-transform: rotateX(58deg);
    transform: rotateX(58deg); }
  #rabbit .head .cheek-left-1 {
    background-color: #f6cbda;
    top: 115px;
    left: 51px;
    width: 22px;
    height: 18px;
    -moz-border-radius: 11px 11px 13px 12px;
    -webkit-border-radius: 11px 11px 13px 12px;
    border-radius: 11px 11px 13px 12px;
    -webkit-box-shadow: 0 0px 2px #f6cbda;
    -moz-box-shadow: 0 0px 2px #f6cbda;
    box-shadow: 0 0px 2px #f6cbda;
    -webkit-transform: skewX(7deg);
    -moz-transform: skewX(7deg);
    transform: skewX(7deg); }
  #rabbit .head .cheek-right-1 {
    background-color: #f6cbda;
    top: 115px;
    left: 103px;
    width: 22px;
    height: 18px;
    -moz-border-radius: 11px 11px 13px 12px;
    -webkit-border-radius: 11px 11px 13px 12px;
    border-radius: 11px 11px 13px 12px;
    -webkit-box-shadow: 0 0px 2px #f6cbda;
    -moz-box-shadow: 0 0px 2px #f6cbda;
    box-shadow: 0 0px 2px #f6cbda;
    -webkit-transform: skewY(2deg);
    -moz-transform: skewY(2deg);
    transform: skewY(2deg); }
  #rabbit .head .eye-left {
    top: 102px;
    left: 50px;
    width: 7px;
    height: 10px;
    border-width: 4px 4px 4px 3px;
    -moz-border-radius: 5px 4px 5px 4px;
    -webkit-border-radius: 5px 4px 5px 4px;
    border-radius: 5px 4px 5px 4px; }
    #rabbit .head .eye-left .eye-left-in {
      background-color: #ffffff;
      top: 2px;
      left: -1px;
      width: 2px;
      height: 2px;
      border-width: 1px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-animation-delay: 5s;
      -webkit-animation-duration: 15s;
      -webkit-animation-name: moveeye;
      -webkit-animation-fill-mode: forwards;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-delay: 5s;
      -moz-animation-duration: 15s;
      -moz-animation-name: moveeye;
      -moz-animation-fill-mode: forwards;
      -moz-animation-iteration-count: infinite;
      -o-animation-delay: 5s;
      -o-animation-duration: 15s;
      -o-animation-name: moveeye;
      -o-animation-fill-mode: forwards;
      -o-animation-iteration-count: infinite;
      animation-delay: 5s;
      animation-duration: 15s;
      animation-name: moveeye;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite; }
  #rabbit .head .eye-right {
    top: 102px;
    left: 114px;
    width: 7px;
    height: 10px;
    border-width: 4px 4px 4px 3px;
    -moz-border-radius: 5px 4px 5px 4px;
    -webkit-border-radius: 5px 4px 5px 4px;
    border-radius: 5px 4px 5px 4px; }
    #rabbit .head .eye-right .eye-right-in {
      background-color: #ffffff;
      top: 2px;
      left: -1px;
      width: 2px;
      height: 2px;
      border-width: 1px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-animation-delay: 5s;
      -webkit-animation-duration: 15s;
      -webkit-animation-name: moveeye;
      -webkit-animation-fill-mode: forwards;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-delay: 5s;
      -moz-animation-duration: 15s;
      -moz-animation-name: moveeye;
      -moz-animation-fill-mode: forwards;
      -moz-animation-iteration-count: infinite;
      -o-animation-delay: 5s;
      -o-animation-duration: 15s;
      -o-animation-name: moveeye;
      -o-animation-fill-mode: forwards;
      -o-animation-iteration-count: infinite;
      animation-delay: 5s;
      animation-duration: 15s;
      animation-name: moveeye;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite; }
  #rabbit .head .moustache-left-1 {
    top: 117px;
    left: 18px;
    width: 30px;
    height: 33px;
    border-width: 2px 0px 0px 0px;
    -webkit-transform: rotateZ(7deg);
    -moz-transform: rotateZ(7deg);
    transform: rotateZ(7deg); }
  #rabbit .head .moustache-left-2 {
    top: 126px;
    left: 24px;
    width: 26px;
    height: 33px;
    border-width: 2px 0px 0px 0px;
    -webkit-transform: rotateZ(1deg);
    -moz-transform: rotateZ(1deg);
    transform: rotateZ(1deg); }
  #rabbit .head .moustache-right-1 {
    top: 116px;
    left: 131px;
    width: 32px;
    height: 33px;
    border-width: 2px 0px 0px 0px;
    -webkit-transform: rotateZ(-3deg);
    -moz-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg); }
  #rabbit .head .moustache-right-2 {
    top: 124px;
    left: 128px;
    width: 24px;
    height: 33px;
    border-width: 2px 0px 0px 0px;
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    transform: rotateZ(5deg); }
  #rabbit .head .mouth {
    top: 112px;
    left: 68px; }
    #rabbit .head .mouth .mouth-1 {
      top: 5px;
      left: 23px;
      width: 35px;
      height: 84px;
      border-width: 2px;
      -webkit-transform: rotateZ(-36deg);
      -moz-transform: rotateZ(-36deg);
      transform: rotateZ(-36deg);
      border-color: #000000 transparent transparent transparent;
      -moz-border-radius: 73% 0 0 0;
      -webkit-border-radius: 73% 0 0 0;
      border-radius: 73% 0 0 0; }
    #rabbit .head .mouth .mouth-2 {
      top: 6px;
      left: -9px;
      width: 25px;
      height: 33px;
      border-width: 2px;
      -webkit-transform: rotateZ(36deg);
      -moz-transform: rotateZ(36deg);
      transform: rotateZ(36deg);
      border-color: #000000 transparent transparent transparent;
      -moz-border-radius: 10% 35% 0 0;
      -webkit-border-radius: 10% 35% 0 0;
      border-radius: 10% 35% 0 0; }
  #rabbit .head .ear {
    display: none;
    width: 26px;
    height: 80px;
    border: 2px solid black;
    border-bottom-width: 0px;
    border-radius: 21px 21px 7px 7px; }
  #rabbit .head .ear.ear-left {
    left: -4px;
    top: -69px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  #rabbit .head .ear.ear-right {
    right: -4px;
    top: -69px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg); }
